.button {
  width: 100%;
  font-size: 1.5rem;
  background: #000000;
  border: 3px solid #000000;
  border-radius: 12px;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
