.container {
  background: linear-gradient(
    270deg,
    rgba(116, 116, 116, 0.1647) 0%,
    rgba(3, 3, 3, 0) 139.38%
  );
  border-radius: 16px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  position: relative;

  div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img {
    width: 100%;
    object-fit: contain;
    height: 100%;

  }

  & > span:first-of-type {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
  }

}
